.cities-container {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;

  .icon-hide-placement {
    position: absolute;
    top: 14px;
    right: 10px;
    font-size: 16px !important;
    cursor: pointer
  }

  .cities-block {
    width: 50%;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    padding: 20px 15px;
    height: max-content;
    z-index: 5;
    position: relative;
    background-color: $white;

    @media (max-width: 990px) {
      width: 100%;
    }

    h1 {
      font-size: 14px;
      margin: 0;
      font-weight: 500;
      padding-left: 15px;
    }

    span {
      font-size: 12px;
    }

    .helper {
      padding-left: 15px;
    }

    .query {
      font-weight: 500;
      padding-left: 5px;
    }

    .cities-list {
      max-height: 300px;
      overflow-y: auto;
      height: auto;
      padding: 0 12px;
      margin: 15px 0;
      .city {
        border-bottom: 1px solid $dark-op;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 300;

        transition-duration: 0.2s;
        cursor: pointer;
        &:hover {
          background-color: $dark-op;
        }
      }
    }
  }
}
